body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    
}

hr{
    height: 2px;
    background-color: rgb(199, 198, 198);
}

.hat{
    height: 30px;
    display: flex;
    padding: 2px;
    background: #eaeff5;
}