body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0; 
    
}

hr{
    height: 2px;
    background-color: rgb(199, 198, 198);
    margin: 0;
}

.hat{
    height: 55px; 
    display: flex;
    background-color: rgb(166, 219, 248);
    font-weight: 600;
    
}
.women{
display: flex;
}
.hat_links{
    color: rgb(162, 165, 170);
    font-weight: lighter;
    margin: auto;
    display: flex;
    align-items: center;
    
}
p{
    padding: 0;
}
.color_hat_link{
    color:rgb(162, 165, 170);
    padding: 0.5rem;
}
.color_hat_link:hover{
    color:black;
    font-weight: bold;
    font-style: oblique;
}